:root {
    --primary-green: #006400;
    --secondary-green: #004d00;
    --text-dark: #222;
    --text-light: #fff;
    --bg-light: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: var(--bg-light);
    color: var(--text-dark);
    line-height: 1.6;
    padding-bottom: 40px;
}

/* Utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    flex: 1; /* pushes footer down */
     /* reserve space for sponsor banner */
}
