:root {
    --primary-green: #006400;
    --secondary-green: #004d00;
    --text-dark: #222;
    --text-light: #fff;
    --bg-light: #f9f9f9;
    --usa-gray: #09295c;

    --main-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background: var(--usa-gray);
    color: var(--text-dark);
    line-height: 1.6;
    padding-bottom: 40px;
}

/* force same font everywhere (inputs + buttons etc) */
button, input, select, textarea {
    font-family: inherit;
}

/* Utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-content {
    flex: 1;
}
